/* Stilizacija oznaka */
.styled-list {
    list-style-type: none; /* Sklanja uobičajene bulleted oznake */
    padding: 0;
    margin: 0;
  }
  
  .styled-list li {
    margin-bottom: 8px; /* Razmak između stavki */
    padding-left: 20px; /* Udaljenost teksta od lijeve strane */
    position: relative;
  }
  
  .styled-list li::before {
    content: '\2022'; /* Unicode znak za bullet (•) */
    position: absolute;
    left: 0;
    color: #ff6600; /* Boja oznake */
  }
  