.custom-div {
    background-color: #333; /* Tamna pozadina */
    color: #fff; /* Boja slova */
    padding: 20px; /* Dodaj malo prostora unutar div-a */
    border-radius: 8px; /* Zaobljeni rubovi */
    margin-bottom: 20px;
  }
  .content {
    font-family: Arial, sans-serif; /* Font */
    color: #333; /* Boja slova */
    font-size: 16px; /* Veličina slova */
    line-height: 1.6; /* Razmak između linija */
    border: #6b0000 1px solid;
    width: 75%;
    align-content: center;
    position: relative;
    left: 12%;
    padding: 20px;
    margin-bottom: 50px;
    background-color: gainsboro;
    font-size: larger;.image-container {
      border: 2px solid orange;
      border-radius: 10px;
      overflow: hidden;
    }
    
    .card-image {
      width: 100%;
      height: auto;
      border-radius: 10px;
      transition: transform 0.3s ease-in-out;
    }
    
    .card-image:hover {
      transform: scale(1.1);
    }
    
    

  }

  .content:hover{
    background-color: #333;
    color: pink;
    background-image: url(/src/assets/media/horizonti_velik_cropped.png); /* Zamijeni 'putanja/do/tvoje/slike.jpg' putanjom do svoje slike */
    background-size: cover;
    width: 75%;
    
  }
  .red-square {.image-container {
    border: 2px solid orange;
    border-radius: 10px;
    overflow: hidden;
    background-color: orange; /* Dodajte ovu liniju kako biste postavili narančastu pozadinu */
  }
  
    color: black;
    font-weight: bold;
}


.organizatori-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Raspored logotipa */
  gap: 20px; /* Prostor između logotipa */
}

.organizator {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out; /* Dodajemo hover efekt */
}

.organizator:hover {
  transform: scale(1.1); /* Povećavamo logotip na hover */
}

.organizator-logo {
  width: 100%;
  height: auto;
  max-width: 200px; /* Ograničavamo veličinu logotipa */
}
