.custom-div {
    background-color: #333; /* Tamna pozadina */
    color: #fff; /* Boja slova */
    padding: 20px; /* Dodaj malo prostora unutar div-a */
    border-radius: 8px; /* Zaobljeni rubovi */
    margin-bottom: 20px;
  }
  .content {
    font-family: Arial, sans-serif; /* Font */
    color: #333; /* Boja slova */
    font-size: 16px; /* Veličina slova */
    line-height: 1.6; /* Razmak između linija */
    border: #6b0000 1px solid;
    width: 75%;
    align-content: center;
    position: relative;
    left: 12%;
    padding: 20px;
    margin-bottom: 50px;
    background-color: gainsboro;
    font-size: larger;
    

  }

  .content:hover{
    background-color: #333;
    color: pink;
    background-image: url(/src/assets/media/horizonti_velik_cropped.png); /* Zamijeni 'putanja/do/tvoje/slike.jpg' putanjom do svoje slike */
    background-size: cover;
    width: 75%;
    
  }
  